Binaries/
Debug/
DerivedDataCache/
Intermediate/
Plugins/*/Binaries/
Plugins/*/Intermediate/
Saved/*

*.sln
.vs/*
*.log
*.rar

*__pycache__*
*.bat
*.sh
sync-ignore.txt
.stignore
Windows/

*.wav
*.json
*.vx5
*.poses.bin
Content/VoxelVideos/*.csv
